<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <ul>
    <li>sản phẩm 1</li>
    <li>sản phẩm 2</li>
    <li>sản phẩm 3</li>
    <li>sản phẩm 4</li>
    <li>sản phẩm 5</li>
    <li>sản phẩm 6</li>
    <li>sản phẩm 6</li>
    <li>sản phẩm 8</li>
  </ul>
</body>
</html>